<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, user-scalable=no">

    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/inventory.css">
</head>

<body>
    <div id="container" class="container">

        <div class="header">

            <a class="back iconfont icon-fangxiangzuo" href="javascript:history.back(-1)"></a>
            <div class="title">库存统计</div>
        </div>

        <div class="content">

            <div class="nav-list">

                <div class="nav-list-con">



                    <div class="nav-list-header">
                        广西沐甜糖厂集团
                    </div>

                    <div class="nav-list-middle">
                        集团库存统计
                    </div>

                    <div class="nav-list-bottom">
                        <div class="nav-list-item">
                            <div class="nav-list-item-num">60000.00</div>
                            <div class="nav-list-item-text">今日已入库</div>
                        </div>
                        <div class="nav-list-item">
                            <div class="nav-list-item-num">60000.00</div>
                            <div class="nav-list-item-text">今日已入库</div>
                        </div>
                        <div class="nav-list-item">
                            <div class="nav-list-item-num">60000.00</div>
                            <div class="nav-list-item-text">今日已入库</div>
                        </div>
                        <div class="nav-list-item">
                            <div class="nav-list-item-num">60000.00</div>
                            <div class="nav-list-item-text">今日已入库</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-wra">
                <div class="tab-title-wra">
                    <div class="tab-title-text">糖企选择</div>

                    <select class="tab-title-select">
                        <option value="">梦连糖厂</option>
                    </select>
                </div>

                <div class="tab-list">
                    <div class="tab-list-title">今日数据</div>

                    <div class="tab-list-con">
                        <div class="tab-list-item">
                            <div class="tab-list-item-header">

                                今日已入库(吨)
                            </div>
                            <div class="tab-list-item-middle">

                                60000.00
                            </div>
                            <div class="tab-list-item-bottom">
                                合计：100000.00(包)
                            </div>

                            <div class="tab-list-item-img">
                                <img src="../images/3/1_2.png" alt="">
                            </div>

                            <div class="tab-list-item-span"></div>
                        </div>
                        
                        <div class="tab-list-item">
                            <div class="tab-list-item-header">

                                今日已入库(吨)
                            </div>
                            <div class="tab-list-item-middle">

                                60000.00
                            </div>
                            <div class="tab-list-item-bottom">
                                合计：100000.00(包)
                            </div>

                            <div class="tab-list-item-img">
                                <img src="../images/3/1_2.png" alt="">
                            </div>
                        </div>
                        <div class="tab-list-item">
                            <div class="tab-list-item-header">

                                今日已入库(吨)
                            </div>
                            <div class="tab-list-item-middle">

                                60000.00
                            </div>
                            <div class="tab-list-item-bottom">
                                合计：100000.00(包)
                            </div>

                            <div class="tab-list-item-img">
                                <img src="../images/3/1_2.png" alt="">
                            </div>
                            <div class="tab-list-item-span"></div>
                            
                        </div>
                        <div class="tab-list-item">
                            <div class="tab-list-item-header">

                                今日已入库(吨)
                            </div>
                            <div class="tab-list-item-middle">

                                60000.00
                            </div>
                            <div class="tab-list-item-bottom">
                                合计：100000.00(包)
                            </div>

                            <div class="tab-list-item-img">
                                <img src="../images/3/1_2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!--图表-->
            <div class="chart-wra">
                <div class="chart-con">
                    <div class="chart-title">
                        <div class="title-wra">
                            <img class="tab-img" src="../images/1_8.png" alt="">
                            <div class="tab-title">集团生码数量统计</div>
                        </div>

                        <div class="select-wra">
                            <select>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                            </select>
                        </div>
                    </div>

                    <div class="chart-dec">

                    </div>
                </div>

                <div class="chart-con">
                    <div class="chart-title">
                        <div class="title-wra">
                            <img class="tab-img" src="../images/1_8.png" alt="">
                            <div class="tab-title">集团生码量趋势统计</div>
                        </div>

                    </div>

                    <div class="chart-dec">

                    </div>
                </div>

                <div class="chart-con">
                    <div class="chart-title">
                        <div class="title-wra">
                            <img class="tab-img" src="../images/1_8.png" alt="">
                            <div class="tab-title">扫码统计</div>
                        </div>
                    </div>

                    <div class="chart-dec">

                    </div>
                </div>

                <div class="area-wra">
                    <div class="area-list">
                        <div class="area-item">
                            <div class="area-con">序号</div>
                            <div class="area-con">省份</div>
                            <div class="area-con">扫码量</div>
                        </div>
                        <div class="area-item">
                            <div class="area-con">1</div>
                            <div class="area-con">云南省</div>
                            <div class="area-con">79865</div>
                        </div>
                    </div>
                    <div class="prevmore">查看更多</div>
                </div>

                <div class="area-wra">
                    <div class="area-list">
                        <div class="area-item">
                            <div class="area-con">序号</div>
                            <div class="area-con">省份</div>
                            <div class="area-con">扫码量</div>
                        </div>
                        <div class="area-item">
                            <div class="area-con">1</div>
                            <div class="area-con">云南省</div>
                            <div class="area-con">79865</div>
                        </div>
                    </div>
                    <div class="prevmore">查看更多</div>
                </div>
            </div>
        </div>
    </div>

    <script src="../scripts/lib/jquery-2.2.2.min.js"></script>

    <script>
        // 点击集团显示下属糖厂
        $('.table-con').on('click', function () {
            $(this).siblings('.child-list').toggle(300);
        })
    </script>
</body>

</html>