<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, user-scalable=no">
    <link rel="stylesheet" href="../css/monitoringCenter.css">
</head>

<body>
<div id="container" class="container">

    <div class="content">
        <div class="login-out">退出登录</div>
        <img class="header" src="../images/2/1_4.png" alt="">

        <div class="nav-list">
            <a class="nav-item" href="javascript:void(0);">
                <img class="nav-icon" src="../images/2/1_2.png" alt="">
                <div class="nav-text">开始查询</div>
            </a>

            <a class="nav-item" href="javascript:void(0);">
                <img class="nav-icon" src="../images/2/1_1.png" alt="">
                <div class="nav-text">上传产检报告</div>
            </a>

            <a class="nav-item" href="javascript:void(0);">
                <img class="nav-icon" src="../images/2/1_3.png" alt="">
                <div class="nav-text">溯源监控中心</div>
            </a>
        </div>
    </div>

    
</div>

<script src="../scripts/lib/jquery-2.2.2.min.js"></script>

<script>

</script>
</body>

</html>