<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, user-scalable=no">
    <link rel="stylesheet" href="../css/traceCenter.css">
</head>

<body>
    <div id="container" class="container">

        <div class="header">
            <div class="title">溯源监控中心</div>
        </div>

        <div class="content">

            <div class="nav-list">
                <div class="nav-item">
                    <div class="nav-num">259875</div>
                    <div class="nav-text">累计生码量</div>
                </div>
                <div class="nav-item">
                    <div class="nav-num">259875</div>
                    <div class="nav-text">累计扫码量</div>
                </div>
            </div>

            <div class="tab-wra">
                <div class="tab-title-wra">
                    <img class="tab-img" src="../images/1_8.png" alt="">
                    <div class="tab-title">生码统计</div>
                </div>

                <div class="tab-list">
                    <div class="tab-item">
                        <div class="tab-num">345</div>
                        <div class="tab-text">当日生成二维码</div>
                    </div>
                    <div class="tab-item">
                        <div class="tab-num">345</div>
                        <div class="tab-text">当前榨季生成二维码</div>
                    </div>
                </div>
            </div>

            <!--集团统计-->
            <div class="statistical-table">
                <div class="table">
                    <div class="table-item">
                        <div class="table-con">
                            <div class="table-box"></div>
                            <div class="table-box">今日</div>
                            <div class="table-box">本榨季</div>
                            <div class="table-box">合计</div>
                        </div>

                    </div>

                    <div class="table-item">
                        <div class="table-con">
                            <div class="table-box">集团</div>
                            <div class="table-box">125</div>
                            <div class="table-box">10036</div>
                            <div class="table-box">10036</div>
                        </div>
                        <div class="child-list">
                            <a class="child-item" href="./factoryStatistics.html">
                                <div class="child-box">糖厂</div>
                                <div class="child-box">78</div>
                                <div class="child-box">7896</div>
                                <div class="child-box">7896</div>
                            </a>

                            <a class="child-item" href="./factoryStatistics.html">
                                <div class="child-box">糖厂</div>
                                <div class="child-box">78</div>
                                <div class="child-box">7896</div>
                                <div class="child-box">7896</div>
                            </a>
                        </div>
                    </div>
                    <div class="table-item">
                        <div class="table-con">
                            <div class="table-box">集团</div>
                            <div class="table-box">125</div>
                            <div class="table-box">10036</div>
                            <div class="table-box">10036</div>
                        </div>
                        <div class="child-list">
                            <a class="child-item" href="./factoryStatistics.html">
                                <div class="child-box">糖厂</div>
                                <div class="child-box">78</div>
                                <div class="child-box">7896</div>
                                <div class="child-box">7896</div>
                            </a>

                            <a class="child-item" href="./factoryStatistics.html">
                                <div class="child-box">糖厂</div>
                                <div class="child-box">78</div>
                                <div class="child-box">7896</div>
                                <div class="child-box">7896</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!--图表-->
            <div class="chart-wra">
                <div class="chart-con">
                    <div class="chart-title">
                        <div class="title-wra">
                            <img class="tab-img" src="../images/1_8.png" alt="">
                            <div class="tab-title">集团生码数量统计</div>
                        </div>

                        <div class="select-wra">
                            <select>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                            </select>
                        </div>
                    </div>

                    <div class="chart-dec">

                    </div>
                </div>

                <div class="chart-con">
                    <div class="chart-title">
                        <div class="title-wra">
                            <img class="tab-img" src="../images/1_8.png" alt="">
                            <div class="tab-title">集团生码量趋势统计</div>
                        </div>

                    </div>

                    <div class="chart-dec">

                    </div>
                </div>

                <div class="chart-con">
                    <div class="chart-title">
                        <div class="title-wra">
                            <img class="tab-img" src="../images/1_8.png" alt="">
                            <div class="tab-title">扫码统计</div>
                        </div>
                    </div>

                    <div class="chart-dec">

                    </div>
                </div>

                <div class="area-wra">
                    <div class="area-list">
                        <div class="area-item">
                            <div class="area-con">序号</div>
                            <div class="area-con">省份</div>
                            <div class="area-con">扫码量</div>
                        </div>
                        <div class="area-item">
                            <div class="area-con">1</div>
                            <div class="area-con">云南省</div>
                            <div class="area-con">79865</div>
                        </div>
                    </div>
                    <div class="prevmore">查看更多</div>
                </div>

                <div class="area-wra">
                    <div class="area-list">
                        <div class="area-item">
                            <div class="area-con">序号</div>
                            <div class="area-con">省份</div>
                            <div class="area-con">扫码量</div>
                        </div>
                        <div class="area-item">
                            <div class="area-con">1</div>
                            <div class="area-con">云南省</div>
                            <div class="area-con">79865</div>
                        </div>
                    </div>
                    <div class="prevmore">查看更多</div>
                </div>
            </div>
        </div>
    </div>

    <script src="../scripts/lib/jquery-2.2.2.min.js"></script>

    <script>
        // 点击集团显示下属糖厂
        $('.table-con').on('click',function () {
            $(this).siblings('.child-list').toggle(300);
        })
    </script>
</body>

</html>